/* .banner {
  background: url('/banner.jpg') no-repeat center center/cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
} */

/* .banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-content p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.banner-content .btn {
  font-size: 1.2rem;
  padding: 10px 30px;
} */

/* .banner {
  background: url('/banner.jpg') no-repeat center center/cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
} */

.banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-content p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.banner-content .btn {
  font-size: 1.2rem;
  padding: 10px 30px;
}

.benefit-icon,
.how-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}